In [18]:
import pandas as pd
import numpy as np

In [4]:
empty_ser = pd.Series()
print(empty_ser)

Series([], dtype: float64)

<ipython-input-4-f06ca0b32775>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  empty_ser = pd.Series()

In [7]:
series = pd.Series(['1','2','3'], index = ['a','b','c'])
print(series)

a    1
b    2
c    3
dtype: object

In [19]:
lst = ['1','2','intelli']
series_from_lst = pd.Series(np.array(lst))
print(series_from_lst)

0          1
1          2
2    intelli
dtype: object

In [11]:
dict1 = {'One':'1',
         'two':'2',
         'three':'intelli'}
series_from_dictionary = pd.Series(dict1)
print(series_from_dictionary)

One            1
two            2
three    intelli
dtype: object

In [13]:
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [14]:
lst = [['joe', 25],['joseph', 29], ['john', 31]]
df = pd.DataFrame(lst, columns = ['Name','Age'] )
df

     Name  Age
0     joe   25
1  joseph   29
2    john   31

In [16]:
dict1 = {'Roll':['1','2','3'],
         'Names':['Moana','Joseph','John'],
         'Age':[17,16,18]}
df_from_dictionary = pd.DataFrame(dict1)
df_from_dictionary

  Roll   Names  Age
0    1   Moana   17
1    2  Joseph   16
2    3    John   18

In [20]:
lst = [['Joe', 25], ['Josef', 33],['John', 46] ]
df = pd.DataFrame(lst, columns = ['Name', 'Age'], index = ['a','b','c'])
print(df)

    Name  Age
a    Joe   25
b  Josef   33
c   John   46

In [26]:
l_df = pd.DataFrame({'Alphabet' : ['a', 'b', 'c', 'd'],
                     'Number' : [1, 2, 6, 5,],
                     'AlphaNumeric' : ['a1', 'b2', 'c3', 'd4']})

r_df = pd.DataFrame({'Alphabet' : ['a', 'b', 'c', 'd'],
                     'Number' : [5, 6, 7, 8],
                     'AlphaNumeric' : ['e5', 'f6', 'g7', 'h8']})

In [28]:
merged_df = pd.merge(l_df, r_df, on = 'Number', how = 'right')
merged_df

  Alphabet_x  Number AlphaNumeric_x Alphabet_y AlphaNumeric_y
0          d       5             d4          a             e5
1          c       6             c3          b             f6
2        NaN       7            NaN          c             g7
3        NaN       8            NaN          d             h8

In [38]:
df1 = pd.DataFrame({'keyleft' : [0, 1, 2, 3],
                    'Aleft' : ['A0', 'A1', 'A2', 'A3']})

df2 = pd.DataFrame({'keyright' : [0, 1],
                    'Aright' : ['A0', 'A1']})

joined_df = df1.join(df2)
joined_df

   keyleft Aleft  keyright Aright
0        0    A0       0.0     A0
1        1    A1       1.0     A1
2        2    A2       NaN    NaN
3        3    A3       NaN    NaN

In [39]:
df1

   keyleft Aleft
0        0    A0
1        1    A1
2        2    A2
3        3    A3

In [40]:
df2

   keyright Aright
0         0     A0
1         1     A1

In [44]:
df1 = pd.DataFrame({'key' : [0, 1, 2, 3],
                    'A' : ['A0', 'A1', 'A2', 'A3']})

df2 = pd.DataFrame({'key' : [0, 1],
                    'A' : ['A0', 'A1']})

In [45]:
df_concat = pd.concat([df1,df2])
df_concat

   key   A
0    0  A0
1    1  A1
2    2  A2
3    3  A3
0    0  A0
1    1  A1